* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}


.body {
    background-color: rgb(216, 247, 247);
    color: rgb(87, 82, 82);

}

.header {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    height: 120px;
    top: 0;
    left: 0;
    align-items: center;
    background-color: rgb(255, 211, 218);
}

.a {
    color: inherit;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    background-color: rgb(241, 176, 241);
    border-radius: 40px;
    padding: 1rem;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 8px;
    margin-bottom: 2rem;


}

.a:hover {
    background-color: #d473f7;
    color: rgb(66, 66, 66);
    border: solid;
    overflow: hidden;
    margin: 10px;
    border-radius: 20px;

}

.main {
    margin-top: 200px;
    background-color: rgb(216, 247, 247);
}

.ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

li {
    list-style: none;
    margin-right: 5px;
}

.section {
    margin-left: 1rem;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.section3{
    height: 600px;
    
}
.productos{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.productosdiv{
    display: flex;
    width: 22%;
    flex-direction: column;
    overflow: hidden;
    flex-wrap: wrap;
    background-color: #c372e0;
    overflow: hidden;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
}
.productosbutton{
    background-color: #c372e0;
    color: rgb(255, 245, 231);

}
.p1 {
    font-family: arial;
    font-size: 3rem;
    color: rgb(87, 82, 82);
}

.h1 {
    font-family: arial;
    font-size: 25px;
}

.a1 {
    margin-top: 1rem;
}
.a2{
    margin-bottom: 5px;
}
.a3{
    margin-bottom: 2rem;
}



.p2 {
    font-family: arial;
    font-size: 25px;
    color: rgb(87, 82, 82);
}

.section2 {
    background-image: url(../imagenes/foto2-chuches.jpg);
    padding: 150px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.img{
    display: inline;
    width: 100%;
    height: 220px;
}

.divformulario{
    padding-bottom: 3rem;
    margin-left: 20px;
    margin-right: 50px;
}
.divformulario2{
    padding-bottom: 3rem;
    margin-left: 20px;
    margin-right: 6rem;
}
.divformulario3{
    margin-left: 20px;
}

.footer{
    display: flex;
    justify-content: space-between;
}
@media(max-width:1023px){
.a{
    width: auto;
    height: auto;
    font-size: 8px;
    padding-right: 1rem;
}
}

@media(max-width: 600px){

}