* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}



.body {
    background-color: rgb(144, 223, 223);
    color: rgb(87, 82, 82);

}

.header {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    height: 120px;
    top: 0;
    left: 0;
    align-items: center;
    background-color: rgb(255, 211, 218);
}

.a {
    color: inherit;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    background-color: rgb(241, 176, 241);
    border-radius: 40px;
    padding: 1rem;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 8px;
    margin-bottom: 2rem;


}

.a:hover {
    background-color: bisque;
    color: rgb(150, 150, 150);
    border: double;
}

.main {
    margin-top: 200px;
}

.ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

li {
    list-style: none;
    margin-right: 5px;
}

.section {
    margin-left: 1rem;
    background-size: cover;
    
}

.p1 {
    font-family: arial;
    font-size: 3rem;
    color: rgb(87, 82, 82);
}

.h1 {
    font-family: arial;
    font-size: 25px;
}

.a1 {
    margin-top: 1rem;
}

.p2 {
    font-family: arial;
    font-size: 25px;
    color: rgb(87, 82, 82);
}

.section2 {
    background-image: url(../imagenes/foto2-chuches.jpg);
    padding: 150px 0;
    background-repeat: no-repeat;
    background-size: 794 851;
}
.img{
    display: inline;
}