* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}



.body {
    background-color: rgb(240, 248, 248);
    color: rgb(87, 82, 82);

}

.header {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    height: 120px;
    top: 0;
    left: 0;
    align-items: center;
    background-color: rgb(255, 211, 218);
}

.a {
    color: inherit;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    background-color: rgb(241, 176, 241);
    border-radius: 40px;
    padding: 1rem;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 8px;
    margin-bottom: 2rem;


}

.a:hover {
    background-color: rgb(255, 196, 237);
    color: rgb(150, 150, 150);
    border: double;
}

.main {
    margin-top: 200px;
    background-color: rgb(241, 240, 238);
}

.ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

li {
    list-style: none;
    margin-right: 5px;
}

.section {
    margin-left: 1rem;
    background-size: cover;
    display: flex;
    
}
.productos{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.productosdiv{
    display: flex;
    width: 22%;
    flex-direction: column;
    overflow: hidden;
    flex-wrap: wrap;
    background-color: #c372e0;
    overflow: hidden;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
}
.productosbutton{
    background-color: #c372e0;
    color: rgb(255, 245, 231);

}
.p1 {
    font-family: arial;
    font-size: 3rem;
    color: rgb(87, 82, 82);
}

.h1 {
    font-family: arial;
    font-size: 25px;
}

.a1 {
    margin-top: 1rem;
}
.a2{
    margin-bottom: 5px;
}

.p2 {
    font-family: arial;
    font-size: 25px;
    color: rgb(87, 82, 82);
}

.section2 {
    background-image: url(../imagenes/foto2-chuches.jpg);
    padding: 150px 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.img{
    display: inline;
    width: 100%;
    height: 220px;
}
.footer{
    display: flex;
    justify-content: space-between;
}